In [ ]:
# @title Time Series Practice 2 - Feb. 9th

In [ ]:
# @title Load & View the Data

In [ ]:
# ‘scan’ is the same as read.csv, read.table, read.excel, etc., but it is used for UNIVARIATE data

df = scan("quart.data.dat")

In [ ]:
head(df)

In [ ]:
# @title Convert the Data to Time Series

In [ ]:
# ‘ts’ stands for time series

# frequency = 4 because it is QUARTERLY data

# ‘start’ refers to the starting point of the data collection where 1959 is the starting year and the second argument is 3 because
# it starts in September which falls in the THIRD QUARTER of the year

df_ts = ts.(df, frequency = 4, start = (1959, 3))

In [ ]:
# @title Plot the Time Series Data

In [ ]:
plot.ts(df_ts)

In [ ]:
# @title Simple Moving Average + Plot

In [ ]:
# Simple Moving Average (SMA) is used here as we give equal weights

# The standard for SMA is that sides = 1 (the program will use past observations)

# Below, n is equal to 4 because we are dealing with quarterly data

n = 4

df_ts.ma = filter(df_ts, filter = rep(1/n, n), sides = 1)

plot.ts(df_ts.ma)

In [ ]:
# @title Centred Moving Average

In [ ]:
# To get the Centered Moving Average (CMA) for quarterly data we use the following:

# The standard for CMA is that sides = 2

# The first argument of 'filter' is equal to 1/(2*n), so in this case with quarterly data, it's 1/(2*4) which is 1/8
# But if it was monthly data, for example, it would be 1/(2*12) which is 1/24

df_ts.ma = filter(quartseries, filter = c(1/8, rep(1/n, n-1), 1/8), sides = 2)